
<h3>List of Ingredients for {{title}}</h3>
<ul>
    {{#each ingredients}}
   <li><a href="/{{this.ingredients}}">{{ingredients}}</a> </li>
<p><label for="complete">Complete</label>
        {{#if complete}}
            <input type="checkbox" name="complete" checked>
        {{else}}
<input type="checkbox" name="complete">
        {{/if}}</p>
    {{/each}}
</ul>

<a href="/{{this.id}}">Back to Recipe</a>