
<h3>List of Ingredients for {{title}}</h3>
<ul>
    {{#each ingredients}}
   <li>{{this}}</li>
<label for="complete"></label>
        {{#if complete}}
            <input type="checkbox" checked>
        {{else}}
<input type="checkbox" >
        {{/if}}
    {{/each}}
</ul>

<a href="/{{this.id}}">Back to Recipe</a>

<!--<a href="/{{this.ingredients}}">{{ingredients}}</a>-->