
<h3>List of Ingredients for {{title}}</h3>
<ul>
    {{#each ingredients}}
        <li>
<label for="complete"></label>
        {{#if complete}}
            <input  class="checks" type="checkbox" checked>
        {{else}}
<input class="checks" type="checkbox" >
        {{/if}}
        {{this}}</li>
    {{/each}}
</ul>

<a href="/{{this.id}}">Back to Recipe</a>

<!--<a href="/{{this.ingredients}}">{{ingredients}}</a>-->