<h2>{{title}}</h2>
<h4>{{description}}</h4>

<h4><a href="/ingredients/{{ id }}">{{ingredients}}</a></h4>

<h4>{{instructions}}</h4>

<form action="/{{id}}?_method=delete" method="post">
        <input type="submit" value="Delete recipe">
</form>
<a href="/edit/{{id}}">Edit Recipe</a>